
#addressBookWidgetDiv,
#walletWidgetDiv {
    width: 100%;
    height: 272px;
}

#amazonCheckoutSteps .section .step {
    padding: 20px 20px 12px 20px;
}

#amazonCheckoutSteps .section .step:after,
#amazonCheckoutSteps .section .step-title:after {
    content: '';
    display: table;
    clear: both;
}

#amazonCheckoutSteps .section:not(.active) .step {
    display: none;
}

#amazonCheckoutSteps .section .step-title {
    width: 100%;
    border-top: 1px solid #ECECEC;
    position: relative;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#amazonCheckoutSteps .section.active .step-title {
    border-bottom: 1px solid #ECECEC;
}

#amazonCheckoutSteps .section.allow:not(.active) .step-title {
    cursor: pointer;
}

#amazonCheckoutSteps .section.allow:not(.active) .step-title:hover {
    background-color: #F4F4F4;
}

#amazonCheckoutSteps .section .step-title .number {
    width: 26px;
    height: 26px;
    text-align: center;
    color: #FFFFFF;
    line-height: 26px;
    background-color: #3399CC;
    display: block;
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -13px;
}

#amazonCheckoutSteps .section.allow:not(.active) .step-title .number {
    background-color: #99CCE5;
}

#amazonCheckoutSteps .section .step-title h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    float: left;
    margin: 0 4px 0 45px;
}

#amazonCheckoutSteps .section .step-title a {
    display: none;
    float: right;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
}

#amazonCheckoutSteps .section.allow:not(.active) .step-title a {
    display: block;
}

#amazonCheckoutSteps .section .buttons-set {
    display: none;
    text-align: left;
    margin: 0 20px 10px 20px;
    padding: 10px 0 0 0;
}

#amazonCheckoutSteps .section.active .buttons-set {
    display: block;
}

#amazonCheckoutSteps .section.active .buttons-set .please-wait {
    display: none;
}

#amazonCheckoutSteps .section.active .buttons-set.disabled {
    opacity: 0.5;
}

#amazonCheckoutSteps .section.active .buttons-set.disabled .please-wait {
    display: inline-block;
}

#amazonCheckoutSteps .section.active .buttons-set.disabled button[disabled] {
    background-color: #3399cc;
}

#amazonCheckoutSteps .section .buttons-set button {
    float: left;
    margin: 0 10px 0 0;
}

#amazonCheckoutSteps .section .buttons-set button#submitOrder {
    min-width: 220px;
}

@media only screen and (min-width: 1024px) {

    #addressBookWidgetDiv,
    #walletWidgetDiv {
        width: 512px;
        height: 320px;
    }
}
